<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="cn.houtaroy.java.lib.sql.analyzer.repositories.MySqlSchemaRepository">
  <sql id="selectColumnDefinition">
    SELECT TABLE_SCHEMA             as tableSchema,
           TABLE_NAME               as tableName,
           COLUMN_NAME              as name,
           ORDINAL_POSITION         as ordinalPosition,
           IS_NULLABLE              as isNullable,
           COLUMN_DEFAULT           as columnDefault,
           DATA_TYPE                as dataType,
           CHARACTER_MAXIMUM_LENGTH as characterMaximumLength,
           CHARACTER_OCTET_LENGTH   as characterOctetLength,
           NUMERIC_PRECISION        as numericPrecision,
           NUMERIC_SCALE            as numericScale,
           DATETIME_PRECISION       as datetimePrecision,
           COLUMN_COMMENT           as comment
    FROM information_schema.columns
  </sql>
  <select id="listColumnDefinitions" resultType="cn.houtaroy.java.lib.sql.analyzer.models.SimpleColumn">
    <include refid="selectColumnDefinition"/>
    <where>
      table_schema = schema ()
      <if test="parameters.tableNames != null and parameters.tableNames.size() > 0">
        and table_name in
        <foreach collection="parameters.tableNames" item="tableName" separator="," open="(" close=")">
          #{tableName, jdbcType=VARCHAR}
        </foreach>
      </if>
    </where>
    order by table_name, ordinal_position
  </select>
</mapper>
